---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-5">
      <h3 class="font-weight-bold mb-4 serif-font">A Telecom Engineer notebook</h3>
      <p class="lead mb-4">Hi! My name is Víctor and I'm maintining this site to share with you my knowledge and experience building solutions through Software Development, Machine Learning and Security.</p>
      <a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-5 btn-lg">About me</a>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/victor.png">      
    </div>
  </div>
</div>
{% endif %}

<!-- Posts
================================================== -->
<section class="row">
  {% for post in site.posts %}
    <div class="col-md-4 mb-5">
      {% include postbox.html %}
    </div>
  {% endfor %}
</section>

<!-- Projects
================================================== -->
<section class="row">
  {% for post in site.projects %}
    <div class="col-md-4 mb-5">
      {% include postbox.html %}
    </div>
  {% endfor %}
</section>